@font-face{
	font-family: "Montserrat";
	src:url(./Montserrat-Medium.ttf);
}

*{
	font-style: normal;
	font-weight: 600;
}

.model{
	position: relative;
	margin-left:50px; 
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}


.first{
	max-height: 915px;
}


.m{
	z-index: 1;
	position: relative;
	margin-right: 30px;
	cursor: pointer;
}

.m:hover::before{
	content: url(./img/vec.png);
	position: absolute;
	top: 6px;
	}


.logo{
	position: absolute;
	display: flex;
	width: 166px;
    height: 51px;
    margin-left: 5px;
}



.menu{
	position: relative;
	display: flex;
	justify-content: flex-end;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	word-spacing: 50px;
	margin-right: 50px;
	margin-top: -46px;
	color: #000000;
}


.a{
	cursor: pointer;
	margin-right: 22px;
}


.a:hover::before{
	content: url(./img/vec.png);
	position: absolute;
	top: 20px;
}


.menu-icon{
	display: none;
	margin: 20px;
}


.text{
	display: block;
	margin-top: 30px;
}


h1 {
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 90px;
	line-height: 110px;
	margin-bottom: -20px;
}


p {
	display: flex;
	justify-content: center;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-top:;
}


.car{
	position: absolute;
	display: flex block;
	margin: 0 auto;
	top: 20%;
	left: 10%;
	right:;

}


footer{
	top: 500px;
	position: relative;
	display: flex;
	align-items:justify;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}


.b {
	margin-right: 120px;
	margin-left: 20px;
}


.speed-icon{

}


span{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
}



.speed{
	width: 254px;
	height: 56px;
	left: 321px;
	top: 755px;
	margin-right: 60px;
}

.speed:after{
	content: url(./img/speed.png);
	position: relative;
	top: -118px;
	left: 20px;
}


.t1{
	position: relative;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	bottom: 25px;
}

.t2{
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom: 60px;
}

.t3{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}




.road{
	width: 140px;
	height: 58px;
	left: 500px;
	top: 754px;
}

.road:after{
	content: url(./img/road2.png);
	position: relative;
	bottom: 125px;
	right: 20px;
}

.t4{
	position: relative;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	bottom: 25px;
}

.t6{
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom: 60px;
	right: 10px;
}

.t5{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}




.wheel{
	margin-top: 8px;
	display: flex;
	left: -10px;
}


.tx{
	color: #E51937;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	display: inline;	
	width:135px;
	height: 18px;
}


  .tx:before {
    vertical-align: middle;
    font-style: normal;
    }
  .tx:before {
    content: url(./img/steering-wheel.png);
    margin-right: 12px;
    }



.wh{
	margin-top: 8px;
	position: absolute;
	display: flex;
	width: 22px;
	height: 22px;
	top: 11px;
	right: 907px;
}


.bord{
	margin-left: -30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #E51937;
	outline: 2px solid #E51937;
	box-sizing: border-box;
	border: 10px solid #fff;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
}


.vector{
	position: absolute;
	bottom: -30px;
}



.front{
	position: relative;
	background-color: #E51937;
	width: 670px;
	height: 940px;
	left: 1219px;
	top: 553px;
}


h2{
	color: white;
	justify-content: center;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	padding-top: 50px; 
}


.text2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: white;
	padding-left: 60px;
	padding-right: 110px;
}


.bag{
	position: absolute;
	top: 510px;
	left: 60px;
	width: 187px;
	height: 65px;
}


.wifi{
	position: absolute;
	top: 410px;
	left: 54px;
	width: 264px;
	height: 75px;
}


.display{
	position: absolute;
	top: 15px;
	left: 0px;
	width: 187px;
	height: 65px;
}

.display:before{
	content: url(./img/screen.png);
	position: relative;
	right: 15px;
}

.display{
	color: #fff;
	position: relative;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	bottom: 950px;
	left: 70px;
}

.t8{
	color: #fff;
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom: 45px;
	right: 150px;
}

.t7{
	color: #fff;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}


.wifi{
	position: absolute;
	top: 15px;
	left: 0px;
	width: 50px;
	height: 65px;
}

.wifi:before{
	content: url(./img/wifi.png);
	position: relative;
	right: 15px;
}

.t9{
	color: #fff;
	font-family: Montserrat;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 43px;
	bottom: 5px;
	right: 90px;
}

.wifi{
	color: #fff;
	font-family: Montserrat;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 43px;
	bottom: 1250px;
	left: 84px;
}

.fiwi{
	color: #fff;
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom:8px;
	right: 165px;
	 
}

.ifiw{
	color: #fff;
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom:20px;
	right: 145px;
	
}



.bag{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 187px;
	height: 65px;
}

.bag:before{
	content: url(./img/bag2.png);
	position: relative;
	right: 15px;
}

.bag{
	color: #fff;
	position: relative;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	bottom: 980px;
	left: 80px;
}

.v1{
	color: #fff;
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom: 60px;
	right: 109px;

}

.v2{
	color: #fff;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}





.more{
	font-size: 18px;
	color: #fff;
	font-family: Montserrat;
	position: absolute;
	top: 835px;
	left: 60px;
	cursor: pointer;
}


.more:before{
	content: url(./img/Group.png);
	position: relative;
	right: 15px;
}


.bord2{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	outline: 2px solid white;
	box-sizing: border-box;
	border: 2px solid white;
	border-right: 50px solid #E51937;
	border-left: 50px solid #E51937;
	border-top: 15px solid #E51937;
	border-bottom: 15px solid #E51937;
	top: 826px;
	left: 300px;
	cursor: pointer;
}


h3{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	color: #E51937;
	top: 945px;
	left: 100px;
}


.a2013{
	position: absolute;
	top: 1085px;
	width: 1227px;
	height: 790px;
	left: 0;
}


.front2{
	position: relative;
	background-color: #E51937;
	width: 670px;
	height: 940px;
	top: 506px;
	left: -10px;
	color: white;
	font-family: Montserrat;
}	


h4{
	padding-left: 60px;
	padding-right: 60px;
	justify-content: center;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 37px;
	padding-top: 50px; 
}


.text3{
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 18px;
	padding-left: 100px;
	padding-right: 60px;
}


h5{
	padding-left: 60px;
	padding-right: 60px;
	justify-content: center;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 37px;
	font-style: normal;
	font-weight: bold;
}


span{
	font-size: 8px;
	font-style: normal;
	font-weight: bold;
	margin-top: 15px;
}


a{
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 21px;
	margin-top: 20px;
	margin-left: 50px;
}


.driver{
	position: relative;
	display: flex;
	top: -10px;
}


.pas{
	position: relative;
	display: flex;
	top: -10px;
}


.star{
	display: flex;
	position: absolute;
	left: 350px;
	bottom: 490px;
}


.star1{
	margin-left: 6px;
	width: 27px;
}


.star2{
	display: flex;
	position: absolute;
	left: 350px;
	bottom: 445px;
}


.star3{
	display: flex;
	position: absolute;
	left: 350px;
	bottom: 405px;
}


.star4{
	display: flex;
	position: absolute;
	left: 300px;
	bottom: 10px;
}


.star5{
	display: flex;
	position: absolute;
	left: 300px;
	bottom: 5px;
}


.shield{
	display: flex;
	position: absolute;
	left: 100px;
	bottom: 180px;
	}


h6{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 61px;
	left: 200px;
	bottom: 85px;
}


.save{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	left: 200px;
	bottom: 155px;
	}


.group2{
	position: absolute;
	top: 855px;
	left: 70px;
	cursor: pointer;
}


.bord3{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	outline: 2px solid white;
	box-sizing: border-box;
	border: 2px solid white;
	border-right: 50px solid #E51937;
	border-left: 50px solid #E51937;
	border-top: 15px solid #E51937;
	border-bottom: 15px solid #E51937;
	top: 830px;
	left: 350px;
	cursor: pointer;
}


.car2{
	width: 1031px;
	height: 569px;
	position: absolute;
	left: 500px;
	top: 2150px;
}


.models{
	position: absolute;
	left: 900px;
	top: 2050px;
	width: 951px;
	height: 200px;
}


.g15{
	z-index: 1;
	position: absolute;
	left: 1034px;
	top: 2126px;
	width: 12px;
}


.g16{
	z-index: 1;
	position: absolute;
	left: 761px;
	top: 2225px;
	width: 11px;
}

.g17{
	z-index: 1;
	position: absolute;
	left: 1088px;
	top: 2536px;
	width: 12px;
}

.def{
	position: absolute;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #000000;
	left: 1050px;
	top: 2105px;
	width: 200px;
	z-index: 1;
}


.def2{
	position: absolute;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #000000;
	left: 770px;
	top: 2205px;
	width: 200px;
	z-index: 1;
}

.def3{
	position: absolute;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #000000;
	left: 1099px;
	top: 2588px;
	width: 250px;
	z-index: 1;
}





@media screen and (max-width: 1366px){
  .car{ 
  	width: 1150px;
  	height: 480px;
  	top: 120px;
  	left: 100px;
  } 

h1{
  	margin-top: -45px;
  	font-size: 75px;
  }

p{
  	font-size: 15px;
  }

.m{
  	font-size: 15px;
  	margin-top: 5px;
  }

.a{
  	margin-top: 17px;
  }

.menu{
  	font-size: 15px;
  	margin-top: -10px;
  }

.logo{
  	margin-left: 25px;
  	margin-top: -15px;
  }

footer{
   	margin-top: -115px;
   }

.wh{
   	left: 650px;
   }





h3{
	top: 820px;
}

.a2013{
   	width:858px;	 
   	height:550px;
   	top: 985px;
   }

.front{
	left: 850px;
   	width: 500px;
   	height: 800px;
   }

.t8{
	right: 90px;
	bottom: 30px;
}   

.t9{
	right: 110px;
}

.wifi{
	left:65px;
}

.fiwi{
	right: 100px;
}

.ifiw{
	right: 80px;
}

.v1{
	right: 40px;
	bottom: 45px;
}

.display{
   	width: 150px;
   	height:50px;
   	margin-top: 50px; 
   }

.wifi{
   	width: 200px;
   	height:60px;
   	margin-top: 30px;
	}
   	
.bag{
   	width: 150px;
   	height:50px;
   	margin-top: 20px;

}

.group{
	top: 730px;
}

.bord2{
	top: 705px;
	left: 250px;
}




.front2{
	width: 500px;
   	height: 820px;
}

h4{
	font-size: 35.5px;
}

.text3{
	font-size: 15px;
}

h5{
	font-size: 32px;
}

a{
	font-size: 17px;
}

.shield{
	width:40px; 
	height:45px;
	top: 680px;
	left: 90px;
}

h6{
	font-size: 30px;
	left: 160px;
	bottom: 25px;
}

.save{
	font-size: 16px;
	left: 160px;
	bottom: 70px;
}

.m{
	display: none;
}

.star1{
	margin-left: 6px;
	width: 18px;
}


.star{
	left: 300px;
	bottom: 360px;
}


.star2{
	left: 300px;
	bottom: 320px;
}


.star3{
	left: 300px;
	bottom: 275px;
}


.star4{
	left: 250px;
	bottom: 10px;
}


.star5{
	left: 250px;
	bottom: 5px;
}

.bord3{
	top: 750px;
	left: 290px;
}

.car2{
	width: 850px;
  	height: 450px;
  	top: 1750px;
  	left: 400px;
}

.models{
	left: 500px;
	top: 1680px;
	width: 751px;
	height: 150px;
}

.group2{
	top: 775px;
	left: 70px;
}


.g15{
	top: 1725px;
	left: 840px;
	width: 10px;
}

.g16{
	top: 1783px;
	left: 614px;
	width: 10px;
}

.g17{
	top: 2055px;
	left: 885px;
	width: 10px;
}


.def{
	top: 1710px;
	left: 850px;
}

.def2{
	top: 1765px;
	left: 624px;
}

.def3{
	top: 2093px;
	left: 895px;
}


@media screen and (max-width: 1000px){
.car{ 
  	width: 900px;
  	height: 360px;
  	top: 90px;
  	left: 40px;
  } 

h1{
  	margin-top: -45px;
  	font-size: 50px;
  }

p{
  	font-size: 14px;
  }

.m{
  	font-size: 15px;
  	margin-top: 5px;
  }

.a{
	font-size: 12px;
  	margin-top: 17px;
  }

.tx2{
	margin-top: 0px;
	font-size: 12px;
}

.menu{
  	font-size: 13px;
  	margin-top: -10px;
  }

.logo{
	width: 120px;
	height: 40px;
  	margin-left: 25px;
  	margin-top: -10px;
  }

.speed{
	width: 254px;
	height: 56px;
	left: 321px;
	top: 755px;
	margin-right: 60px;
}

.speed:after{
	content: url(./img/speed.png);
	width: 10px;
	position: absolute;
	bottom: 22px;
	left: 60px;
	width: 65.92px;
	height: 50.16px;

}


.t1{
	position: relative;
	font-weight: 600;
	font-size: 25px;
	line-height: 43px;
	bottom: 125px;
}

.t2{
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom: 155px;
	left: 10px;
}

.t3{
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}




.road{
	width: 140px;
	height: 58px;
	left: 500px;
	top: 754px;
}

.road:after{
	content: url(./img/road2.png);
	position: relative;
	bottom: 125px;
	right: 20px;
	width: 0px;
}

.t4{
	position: relative;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	bottom: 25px;
}

.t6{
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	bottom: 60px;
	right: 10px;
}

.t5{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}




.wheel{
	margin-top: 8px;
	display: flex;
	left: -10px;
}


.tx{
	color: #E51937;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	display: inline;	
	width:135px;
	height: 18px;
}


  .tx:before {
    vertical-align: middle;
    font-style: normal;
    }
  .tx:before {
    content: url(./img/steering-wheel.png);
    margin-right: 12px;
    }






.menu-icon{
	width: 20px;
}

footer{
   	margin-top: -115px;
   }

.wh{
   	left: 650px;
   }


.speed-icon{
	height: 40px;
	width: 100px;
	margin-left: 60px;
	margin-top: 5px;
}

.road-icon{
	height: 40px;
	width: 100px;
	margin-top: 5px;
}

.vector{
	width: 30px;
}

.b{
	display: block;
	justify-content: space-between;
}


h2{
	font-size:22px;	
}

h3{
	top: 750px;
	font-size: 50px;
}

.text2{
	font-size: 12px;
}

.a2013{
   	width:602px;	 
   	height:440px;
   	top: 982px;
   }

.front{
	top: 550px;
	left: 594px;
   	width: 350px;
   	height: 700px;
   }

.display{
   	width: 95px;
   	height:35px;
   	margin-top: 100px; 
   }

.wifi{
   	width: 135px;
   	height:35px;
   	margin-top: 40px; 
	}
   	
.bag{
   	width: 100px;
   	height:35px;
   	margin-top: -18px;

}

.group{
	left: 30px;
	top: 630px;
	width: 120px;
}

.bord2{
	top: 605px;
	left: 150px;
	width: 120px;
	height: 40px;
	font-size: 12px;
}




.front2{
	width: 350px;
   	height: 700px;
   	top: 520px;
}

h4{
	font-size: 22px;
}

.text3{
	font-size: 12px;
}

h5{
	font-size: 22px;
	margin-bottom: 0px;
}


a{
	margin-top: 10px;
	font-size: 13px;
}

.shield{
	display: none;
	width:30px; 
	height:35px;
	top: 598px;
	left: 100px;
}

h6{
	display: none;
	font-size: 20px;
	left: 160px;
	bottom: 13px;
}

.save{
	display: none;
	font-size: 13px;
	left: 160px;
	bottom: 46px;
}

.m{
	display: none;
}

.star1{
	margin-left: 6px;
	width: 13px;
}


.star{
	left: 200px;
	bottom: 260px;
}


.star2{
	left: 200px;
	bottom: 225px;
}


.star3{
	left: 200px;
	bottom: 187px;
}


.star4{
	left: 150px;
	bottom: 5px;
}


.star5{
	left: 150px;
	bottom: 5px;
}

.bord3{
	top: 612px;
	left: 190px;
	width: 140px;
}

.car2{
	width: 650px;
  	height: 350px;
  	top: 1650px;
  	left: 280px;
}

.models{
	left: 400px;
	top: 1580px;
	width: 521px;
	height: 100px;
}

.group2{
	top: 635px;
	width: 150px;
	left: 30px;
}
@media screen and (max-width: 640px){
