@font-face{
	font-family: "Montserrat";
	src:url(./Montserrat-Medium.ttf);
}



.model{
	position: relative;
	margin-left:50px; 
	margin-top: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}


.first{
	max-height: 915px;
}


.m{
	margin-right: 30px;
	text-decoration: none;
}


.logo{
	position: absolute;
	display: flex;
	width: 166px;
    height: 51px;
    margin-left: 5px;
}


.a{
	cursor: pointer;
}


.menu{
	position: relative;
	display: flex;
	justify-content: flex-end;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	word-spacing: 50px;
	margin-right: 50px;
	margin-top: -44px;
	color: #000000;
}


.a{
	margin-right: 22px;
}


.menu-icon{
	margin: 20px;
}


.text{
	display: block;
	margin-top: 30px;
}


h1 {
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 90px;
	line-height: 110px;
	margin-bottom: -20px;
}


p {
	display: flex;
	justify-content: center;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-top:;
}


.car{
	position: absolute;
	display: flex;
	left: 10%;
	top: 20%;
}


footer{
	top: 500px;
	position: relative;
	display: flex;
	align-items:justify;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}


.b {
	margin-right: 120px;
	margin-left: 20px;
}


.speed-icon{
	width: 46px;
	height: 34.13px;
}


span{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
}



.speed{
	width: 154px;
	height: 56px;
	left: 321px;
	top: 755px;
	margin-right: 60px;
}


.road{
	display: flex;
	width: 140px;
	height: 58px;
	left: 500px;
	top: 754px;
}


.wheel{
	margin-top: 8px;
	display: flex;
	left: -10px;
}


.tx{
	color: #E51937;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;	
	width: 100px;
	height: 18px;
}


  .tx:before {
    vertical-align: middle;
    font-style: normal;
    }
  .tx:before {
    content: url(./img/steering-wheel.png);
    margin-right: 12px;
    }



.wh{
	margin-top: 8px;
	position: absolute;
	display: flex;
	width: 22px;
	height: 22px;
	top: 11px;
	right: 907px;
}


.bord{
	margin-left: -30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #E51937;
	outline: 2px solid #E51937;
	box-sizing: border-box;
	border: 10px solid #fff;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
}


.vector{
	position: absolute;
	bottom: -30px;
}


.m:hover{
	  text-decoration: underline;
	  text-decoration-color:#E51937;
	  color:#E51937;
	  cursor: pointer;
	}

.a:hover{
	  text-decoration: underline;
	  text-decoration-color:#E51937;
	  color:#E51937;
	  cursor: pointer;
}


hr{
	position: relative;
	border: none; /* Убираем границу */
    background-color: #E51937; /* Цвет линии */
    height: 2px; /* Толщина линии */
    top: 570px;
}


.front{
	position: relative;
	background-color: #E51937;
	width: 670px;
	height: 940px;
	left: 1219px;
	top: 544px;
}


h2{
	color: white;
	justify-content: center;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	padding-top: 50px; 
}


.text2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: white;
	padding-left: 60px;
	padding-right: 110px;
}


.bag{
	position: absolute;
	top: 510px;
	left: 60px;
	width: 187px;
	height: 65px;
}


.wifi{
	position: absolute;
	top: 410px;
	left: 54px;
	width: 264px;
	height: 75px;
}


.display{
	position: absolute;
	top: 300px;
	left: 60px;
	width: 187px;
	height: 65px;
}


.group{
	position: absolute;
	top: 850px;
	left: 60px;
	cursor: pointer;
}


.bord2{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	outline: 2px solid white;
	box-sizing: border-box;
	border: 2px solid white;
	border-right: 50px solid #E51937;
	border-left: 50px solid #E51937;
	border-top: 15px solid #E51937;
	border-bottom: 15px solid #E51937;
	top: 826px;
	left: 300px;
	cursor: pointer;
}


h3{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	color: #E51937;
	top: 950px;
	left: 100px;
}


.a2013{
	position: absolute;
	top: 1085px;
	width: 1228px;
	height: 790px;
	left: 0;
}


.front2{
	position: relative;
	background-color: #E51937;
	width: 670px;
	height: 940px;
	top: 497px;
	left: -10px;
	color: white;
	font-family: Montserrat;
}	


h4{
	padding-left: 60px;
	padding-right: 60px;
	justify-content: center;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 37px;
	padding-top: 50px; 
}


.text3{
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 18px;
	padding-left: 100px;
	padding-right: 60px;
}


h5{
	padding-left: 60px;
	padding-right: 60px;
	justify-content: center;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 37px;
	font-style: normal;
	font-weight: bold;
}


span{
	font-size: 8px;
	font-style: normal;
	font-weight: bold;
	margin-top: 15px;
}


a{
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 21px;
	margin-top: 20px;
	margin-left: 50px;
}


.driver{
	position: relative;
	display: flex;
	top: -10px;
}


.pas{
	position: relative;
	display: flex;
	top: -10px;
}


.star{
	display: flex;
	position: absolute;
	left: 350px;
	bottom: 490px;
}


.star1{
	margin-left: 6px;
	width: 27px;
}


.star2{
	display: flex;
	position: absolute;
	left: 350px;
	bottom: 445px;
}


.star3{
	display: flex;
	position: absolute;
	left: 350px;
	bottom: 405px;
}


.star4{
	display: flex;
	position: absolute;
	left: 300px;
	bottom: 10px;
}


.star5{
	display: flex;
	position: absolute;
	left: 300px;
	bottom: 5px;
}


.shield{
	display: flex;
	position: absolute;
	left: 100px;
	bottom: 180px;
	}


h6{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 61px;
	left: 200px;
	bottom: 85px;
}


.save{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	left: 200px;
	bottom: 155px;
	}


.group2{
	position: absolute;
	top: 855px;
	left: 70px;
	cursor: pointer;
}


.bord3{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	outline: 2px solid white;
	box-sizing: border-box;
	border: 2px solid white;
	border-right: 50px solid #E51937;
	border-left: 50px solid #E51937;
	border-top: 15px solid #E51937;
	border-bottom: 15px solid #E51937;
	top: 830px;
	left: 350px;
	cursor: pointer;
}


.car2{
	width: 1031px;
	height: 569px;
	position: absolute;
	left: 500px;
	top: 2150px;
}


.models{
	position: absolute;
	left: 900px;
	top: 2050px;
	width: 951px;
	height: 200px;
}





@media screen and (max-width: 1366px){
  .car{ 
  	width: 1150px;
  	height: 480px;
  	top: 120px;
  	left: 100px;
  } 

h1{
  	margin-top: -45px;
  	font-size: 75px;
  }

p{
  	font-size: 15px;
  }

.m{
  	font-size: 15px;
  	margin-top: 5px;
  }

.a{
  	margin-top: 17px;
  }

.menu{
  	font-size: 15px;
  	margin-top: -10px;
  }

.logo{
  	margin-left: 25px;
  	margin-top: -15px;
  }

footer{
   	margin-top: -115px;
   }

.wh{
   	left: 650px;
   }





h3{
	top: 820px;
}

.a2013{
   	width:858px;	 
   	height:550px;
   	top: 981px;
   }

.front{
	left: 850px;
   	width: 500px;
   	height: 800px;
   }

.display{
   	width: 150px;
   	height:50px;
   	margin-top: 50px; 
   }

.wifi{
   	width: 200px;
   	height:60px;
   	margin-top: 30px;
	}
   	
.bag{
   	width: 150px;
   	height:50px;
   	margin-top: 20px;

}

.group{
	top: 730px;
}

.bord2{
	top: 705px;
	left: 250px;
}




.front2{
	width: 500px;
   	height: 820px;
}

h4{
	font-size: 35.5px;
}

.text3{
	font-size: 15px;
}

h5{
	font-size: 32px;
}

a{
	font-size: 17px;
}

.shield{
	width:40px; 
	height:45px;
	top: 680px;
	left: 90px;
}

h6{
	font-size: 30px;
	left: 160px;
	bottom: 3px;
}

.save{
	font-size: 16px;
	left: 160px;
	bottom: 50px;
}

.m{
	display: none;
}

.star1{
	margin-left: 6px;
	width: 18px;
}


.star{
	left: 300px;
	bottom: 360px;
}


.star2{
	left: 300px;
	bottom: 320px;
}


.star3{
	left: 300px;
	bottom: 275px;
}


.star4{
	left: 250px;
	bottom: 10px;
}


.star5{
	left: 250px;
	bottom: 5px;
}

.bord3{
	top: 750px;
	left: 290px;
}

.car2{
	width: 850px;
  	height: 450px;
  	top: 1750px;
  	left: 400px;
}

.models{
	left: 500px;
	top: 1680px;
	width: 751px;
	height: 150px;
}

.group2{
	top: 775px;
	left: 70px;
}


@media screen and (max-width: 1000px){
@media screen and (max-width: 640px){
